div {
    text-align: center;
}
body {
    background-color: #cc8c8c;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}